<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header', { title: 'Books - Book Tracker'}) %>
  <link rel="stylesheet" href="/styles/bookCard.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: #f4f4f4;
    }
    .alphabet-navigation {
      position: fixed;
      right: 10px; /* Adjust as needed */
      top: 50%; /* Center vertically */
      transform: translateY(-50%);
      background-color: #f4f4f4; /* Match your color scheme */
      border-radius: 5px;
      padding: 10px;
    }

    .alphabet-navigation a {
      display: block; /* Each letter on a new line */
      font-size: 20px; /* Larger font size */
      color: #333333; /* Match your color scheme */
      text-decoration: none; /* Remove underline */
      margin: 5px 0; /* Space between letters */
    }

    .alphabet-navigation a:hover {
      color: #555555; /* Darker color on hover */
      text-decoration: underline; /* Underline on hover */
    }
    
    .books-container {
      display: flex;
      flex-wrap: wrap;
      padding-left: 25px;
    }
    .book-card {
      margin-right: 10px; /* Adjust as needed for spacing */
      margin-bottom: 10px;
    }
    .all-books-container {
      display: flex;
      flex-wrap: wrap;
      padding-left: 25px;
    }
    .bookrow {
      padding-left: 25px;
      display: flex;
      flex-wrap: wrap;
    }
    .book-section {
      width: 100%;
    }
    .fab {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #007bff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: left;
      line-height: 60px;
      text-decoration: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0; /* Hide the text */
    }
    
    .fab::before {
      content: "+";
      font-size: 55px; /* Adjust the size of the plus sign */
      font-weight: bold;
      color: white; /* Color of the plus sign */
    }
    
    .fab:hover {
      background-color: #0056b3;
      text-decoration: none;
    }
            
    /* New Styles for Library Stats */
    .stats-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adapts to the available width */
      gap: 15px; /* Spacing between stats */
      background: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: 10px; /* Smaller top margin */
      margin-bottom: 10px; /* Smaller bottom margin */
    }

    .stats-item {
      text-align: center;
    }

    .stats-title {
      font-size: 14px; /* Smaller font size */
      color: #333;
      margin-bottom: 5px;
    }

    .stats-number {
      font-size: 18px; /* Larger font size for emphasis */
      color: #17a2b8; /* Bootstrap's info color */
    }

/* Accessibility Improvements */
.stats-item {
  /* Increase contrast for better readability */
  color: #505050;
  background-color: #fafafa;
}
    

    /* Other styles remain unchanged */
    
    .jumbotron {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
    }
    .section-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .collapse-header {
      cursor: pointer;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      width: 44%;
      text-align: center;
      transition: background-color 0.3s;
    }
    /* Adjusted Next Up Header Styles */
    .next-up-header {
      background-color: #4a69bd; /* Light purple */
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px; /* Smaller font size */
      font-weight: bold;
      width: auto; /* Adjust width as per content size */
      margin-bottom: 5px;
      cursor: pointer;
      display: inline-block; /* Required for smaller width headers */
    }

    /* New All Books Header Styles */
    .all-books-header {
      font-size: 24px; /* Larger font size for section header */
      color: #333; /* Dark text color for visibility */
      padding: 10px 0; /* Padding for spacing */
      font-weight: bold;
      margin-top: 20px; /* Spacing above the header */
    }
    .inactive-header {
      opacity: 0.5;
    }
    .collapse-content {
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      width: 100%;
    }
    .next-up-content {
      background-color: rgba(111, 66, 193, 0.1); /* Very transparent purple */
    }
    .all-books-content {
      background-color: rgba(40, 167, 69, 0.1); /* Very transparent green */
    }

    /* Styles for the Search Results Header */
    .search-results-header {
      background-color: #17a2b8; /* Bootstrap's info color (light blue) */
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      transition: background-color 0.3s;
    }

    /* Styles for the Search Results Content */
    .search-results-content {
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      background-color: rgba(23, 162, 184, 0.1); /* Very transparent light blue */
    }

    /* Style adjustments when section is collapsed */
    .search-results-header.collapsed {
      background-color: rgba(23, 162, 184, 0.5); /* Semi-transparent light blue */
    }
    
/* Typography for consistent look */
body, h1, h2, h3, p, a {
  font-family: 'Arial', sans-serif; /* or your preferred font */
}

/* Improved Alphabet Navigation */
.alphabet-navigation {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}


/* Button and Link Enhancements */
.fab, .collapse-header, .alphabet-navigation a {
  transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Smooth transitions for color and position */
}

/* Responsive Grid Layout */
@media (max-width: 768px) {
  .books-container, .bookrow, .stats-container, .section-container {
    flex-direction: column;
  }
  .book-card, .collapse-header {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0;
  }
}

/* Additional Hover Effects */
.collapse-header:hover, .fab:hover, .alphabet-navigation a:hover {
  background-color: #0056b3; /* Darker shade for hover state */
  color: white; /* Ensure text is readable on hover */
}

.all-books-section {
  background-color: #f4f4f4; /* Set the background color to match the rest of the page */
  padding: 20px 0; /* Add some vertical padding for spacing */
}

.all-books-header {
  text-align: center; /* Center the header text */
  margin-bottom: 20px; /* Add some margin below the header for spacing */
  /* ... other styles ... */
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the books within the container */
  /* ... other styles ... */
}
  </style>
</head>
<body>
  <%- include('../partials/bookcardModal') %>
  <%- include('../navbar') %>

  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Library Stats</h1>
      <div class="container mt-4">
        <div class="stats-container">
          <div class="stats-item">
            <div class="stats-title">Total Books</div>
            <div class="stats-number"><%= stats.totalBooks %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Books Read</div>
            <div class="stats-number"><%= stats.readBooks %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Total Series</div>
            <div class="stats-number"><%= stats.totalSeries %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Popular Author</div>
            <div class="stats-number"><%= stats.popularAuthor ? stats.popularAuthor.name : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Popular Narrator</div>
            <div class="stats-number"><%= stats.popularNarrator ? stats.popularNarrator.name : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Last Read</div>
            <div class="stats-number"><%= stats.latestReadBook ? stats.latestReadBook.title : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Most Read Author</div>
            <div class="stats-number"><%= stats.mostReadAuthor ? stats.mostReadAuthor : 'N/A' %> (<%= stats.mostReadAuthorCount %>)</div>
          </div>
        </div>
    </div>

    <!-- Search Results Section -->
    <% if (searchPerformed) { %>
      <div class="collapse-header search-results-header" data-bs-toggle="collapse" data-bs-target="#searchResultsSection">Search Results</div>
      <div id="searchResultsSection" class="collapse collapse-content search-results-content show">
        <div class="row bookrow">
          <% books.forEach(function(book) { %>
            <div class="bookrow">
            <%- include('../partials/bookCard', { book: book }) %>
            </div>
          <% }) %>
          <% if (books.length === 0) { %>
            <p>No results found for "<%= searchQuery %>".</p>
          <% } %>
        </div>
      </div>
    <% } %>

    <div class="section-container">
      <h2 class="next-up-header" style="font-size: 18px;">Next Up</h2> <!-- Shrink title and remove collapse functionality -->
    <!-- Next Up Section -->
    <div id="nextUpSection" class="collapse collapse-content next-up-content">
      <div class="row">
        <% if (currentBook) { %>
          <div class="bookrow">
          <%- include("../partials/bookCard", { book: currentBook }) %>
          </div>
        <% } else { %>
          <p>No current book selected.</p>
        <% } %>
        <% nextUpBooks.forEach(function(book) { %>
          <div class="bookrow">
          <%- include('../partials/bookCard', { book: book }) %>
          </div>
        <% }) %>
      </div>
    </div>
  </div>    
 <!-- Alphabet Navigation -->
 <div class="alphabet-navigation">
  <% for(let i = 65; i <= 90; i++) { %>
    <a href="#<%= String.fromCharCode(i) %>"><%= String.fromCharCode(i) %></a>
  <% } %>
</div>
    </div></div>
<!-- Books Sections -->
<div class="all-books-section">
<h2 class="all-books-header">All Books</h2>

<div class="books-container" >
  <% for(let i = 65; i <= 90; i++) { %>
    <% let filteredBooks = books.filter(book => book.title[0].toUpperCase() === String.fromCharCode(i)); %>
    <% if (filteredBooks.length > 0) { %>
      <div id="<%= String.fromCharCode(i) %>" class="book-section-anchor"></div>
    <% } %>
    <% filteredBooks.forEach(function(book) { %>
      <div class="bookrow">
        <%- include('../partials/bookCard', { book: book }) %>
      </div>
    <% }) %>
  <% } %>
</div>

  <%- include('../partials/footer') %>
  

  <script>
    const updateCollapseHeaders = () => {
      const nextUpHeader = document.querySelector('.next-up-header');
      const nextUpSection = document.getElementById('nextUpSection');


      nextUpHeader.classList.toggle('inactive-header', !nextUpSection.classList.contains('show'));

    };

    const clearSearchResults = () => {
      const searchResultsSection = document.getElementById('searchResultsSection');
      if (!searchResultsSection.classList.contains('show')) {
        window.location.href = '/books';
      }
    };

    if (document.querySelector('.search-results-header')) {
      document.querySelector('.search-results-header').addEventListener('click', () => {
        setTimeout(clearSearchResults, 350);
      });
    }

    // Toggle the "Next Up" section on header click
    document.querySelector('.next-up-header').addEventListener('click', function() {
      var nextUpSection = document.getElementById('nextUpSection');
      nextUpSection.classList.toggle('show');
    });

    // Initial state update
    updateCollapseHeaders();
  </script>
  <a href="/books/add" class="fab" id="addBookButton">+</a>

</body>
</html>
