<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header', { title: 'Books - Book Tracker'}) %>
  <link rel="stylesheet" href="/styles/bookCard.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: #f4f4f4;
    }
    .fab {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #007bff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      text-decoration: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0; /* Hide the text */
    }
    
    .fab::before {
      content: "+";
      font-size: 55px; /* Adjust the size of the plus sign */
      font-weight: bold;
      color: white; /* Color of the plus sign */
    }
    
    .fab:hover {
      background-color: #0056b3;
      text-decoration: none;
    }
    
    
    
    .stats-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .stats-item {
      text-align: center;
      flex-grow: 1;
    }
    
    .stats-item:not(:last-child) {
      border-right: 1px solid #eaeaea;
    }
    
    .stats-title {
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
      font-weight: 500;
    }
    
    .stats-number {
      font-size: 20px;
      font-weight: bold;
      color: #17a2b8; /* Bootstrap's info color */
    }
    
    /* Other styles remain unchanged */
    
    .jumbotron {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
    }
    .section-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .collapse-header {
      cursor: pointer;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      width: 44%;
      text-align: center;
      transition: background-color 0.3s;
    }
    .next-up-header {
      background-color: #6f42c1; /* Light purple */
    }
    .all-books-header {
      background-color: #28a745; /* Green */
    }
    .inactive-header {
      opacity: 0.5;
    }
    .collapse-content {
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      width: 100%;
    }
    .next-up-content {
      background-color: rgba(111, 66, 193, 0.1); /* Very transparent purple */
    }
    .all-books-content {
      background-color: rgba(40, 167, 69, 0.1); /* Very transparent green */
    }

    /* Styles for the Search Results Header */
    .search-results-header {
      background-color: #17a2b8; /* Bootstrap's info color (light blue) */
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      transition: background-color 0.3s;
    }

    /* Styles for the Search Results Content */
    .search-results-content {
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      background-color: rgba(23, 162, 184, 0.1); /* Very transparent light blue */
    }

    /* Style adjustments when section is collapsed */
    .search-results-header.collapsed {
      background-color: rgba(23, 162, 184, 0.5); /* Semi-transparent light blue */
    }
  </style>
</head>
<body>
  <%- include('../navbar') %>

  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Book Stats</h1>
      <div class="container mt-4">
        <div class="stats-container">
          <div class="stats-item">
            <div class="stats-title">Total Books</div>
            <div class="stats-number"><%= stats.totalBooks %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Books Read</div>
            <div class="stats-number"><%= stats.readBooks %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Total Series</div>
            <div class="stats-number"><%= stats.totalSeries %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Popular Author</div>
            <div class="stats-number"><%= stats.popularAuthor ? stats.popularAuthor.name : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Popular Narrator</div>
            <div class="stats-number"><%= stats.popularNarrator ? stats.popularNarrator.name : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Last Read</div>
            <div class="stats-number"><%= stats.latestReadBook ? stats.latestReadBook.title : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Most Read Author</div>
            <div class="stats-number"><%= stats.mostReadAuthor ? stats.mostReadAuthor : 'N/A' %> (<%= stats.mostReadAuthorCount %>)</div>
          </div>
        </div>
    </div>

    <!-- Search Results Section -->
    <% if (searchPerformed) { %>
      <div class="collapse-header search-results-header" data-bs-toggle="collapse" data-bs-target="#searchResultsSection">Search Results</div>
      <div id="searchResultsSection" class="collapse collapse-content search-results-content show">
        <div class="row">
          <% books.forEach(function(book) { %>
            <%- include('../partials/bookCard', { book: book }) %>
          <% }) %>
          <% if (books.length === 0) { %>
            <p>No results found for "<%= searchQuery %>".</p>
          <% } %>
        </div>
      </div>
    <% } %>

    <div class="section-container">
      <div class="collapse-header next-up-header" data-bs-toggle="collapse" data-bs-target="#nextUpSection">Next Up</div>
      <div class="collapse-header all-books-header" data-bs-toggle="collapse" data-bs-target="#allBooksSection">All Books</div>
    </div>

    <!-- Next Up Section -->
    <div id="nextUpSection" class="collapse collapse-content next-up-content show">
      <div class="row">
        <% if (currentBook) { %>
          <%- include("../partials/bookCard", { book: currentBook }) %>
        <% } else { %>
          <p>No current book selected.</p>
        <% } %>
        <% nextUpBooks.forEach(function(book) { %>
          <%- include('../partials/bookCard', { book: book }) %>
        <% }) %>
      </div>
    </div>

    <!-- All Books Section -->
    <div id="allBooksSection" class="collapse collapse-content all-books-content show">
      <div class="row">
        <% allBooks.forEach(function(book) { %>
          <%- include('../partials/bookCard', { book: book }) %>
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>
  <%- include('../partials/bookcardModal') %>

  <script>
    const updateCollapseHeaders = () => {
      const nextUpHeader = document.querySelector('.next-up-header');
      const allBooksHeader = document.querySelector('.all-books-header');
      const nextUpSection = document.getElementById('nextUpSection');
      const allBooksSection = document.getElementById('allBooksSection');

      nextUpHeader.classList.toggle('inactive-header', !nextUpSection.classList.contains('show'));
      allBooksHeader.classList.toggle('inactive-header', !allBooksSection.classList.contains('show'));
    };

    const clearSearchResults = () => {
      const searchResultsSection = document.getElementById('searchResultsSection');
      if (!searchResultsSection.classList.contains('show')) {
        window.location.href = '/books';
      }
    };

    if (document.querySelector('.search-results-header')) {
      document.querySelector('.search-results-header').addEventListener('click', () => {
        setTimeout(clearSearchResults, 350);
      });
    }

    document.querySelectorAll('.collapse-header').forEach(header => {
      header.addEventListener('click', () => {
        setTimeout(updateCollapseHeaders, 350);
      });
    });

    // Initial state update
    updateCollapseHeaders();
  </script>
  <a href="/books/add" class="fab" id="addBookButton">+</a>

</body>
</html>
