<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header', { title: 'Books - Book Tracker'}) %>
    <!-- Book Card Styles -->
    <link rel="stylesheet" href="/styles/bookCard.css">
   
  </head>
  <body>
    <%- include('../navbar') %><!-- Include the navbar partial -->
    
    <%- include('../partials/bookcardModal') %>
    <div class="container mt-4">
      <h2 class="mb-3">Books List</h2>
      <a href="/books/add" class="btn btn-success mb-4">Add New Book</a>

      <div class="row">
        <% books.forEach(function(book) { %>
          <%- include('../partials/bookCard', { book: book }) %>
        <% }) %>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
