<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header', { title: 'Books - Book Tracker'}) %>
  <link rel="stylesheet" href="/styles/bookCard.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <style>
       /* Base & Layout */
    body, h1, h2, h3, p, a {
      font-family: 'Arial', sans-serif;
      color: #333;
    }
    
    body {
      background-color: #f4f4f4;
    }

    .jumbotron, .collapse-content, .all-books-section {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 20px;
    }

    .container {
      width: 100%; /* Adjust as needed */
      max-width: 1200px; /* Or whatever maximum width you prefer */
      margin: 0 auto; /* Center the container */
    }
 
    .books-container, .all-books-container, .section-container, .bookrow, .book-section {
      display: flex;
      flex-wrap: wrap;
    }

    /* Navigation & Alphabet */
    .alphabet-navigation {
      position: fixed;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    }

    .alphabet-navigation a {
      display: block;
      font-size: 20px;
      color: #333;
      text-decoration: none;
      margin: 5px 0;
    }

    /* Interactive Elements */
    .fab, .collapse-header {
      transition: background-color 0.3s, color 0.3s, transform 0.2s;
    }

    .fab {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #007bff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      font-size: 0; /* Hide the text */
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 1000;
    }

    .fab::before {
      content: "+";
      font-size: 55px;
      color: white;
    }

    /* Headers & Titles */
    .stats-title, .all-books-header {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .stats-number {
      font-size: 18px;
      color: #17a2b8;
    }

    /* Stats & Cards */
    .stats-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* This will create as many columns as can fit */
      gap: 15px;
      background: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .stats-item {
      text-align: center;
      color: #505050;
      background-color: #fafafa;
    }

    .book-card {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    /* Hover States */
    .fab:hover, .collapse-header:hover, .alphabet-navigation a:hover {
      background-color: #0056b3;
      color: white;
    }

    /* Media Queries */
    @media (max-width: 768px) {
      .books-container, .bookrow, .stats-container, .section-container {
        flex-direction: column;
      }
      .book-card, .collapse-header {
        width: 100%;
        margin-right: 0;
      }
    }

  .book-highlight-container {
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    width: 55%; /* Set width to 85% of the container width */
    height: 225px; /* Set a fixed height, adjust as needed */
    margin: 0 auto; /* Center the container itself */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-top: 20px; /* Add some top margin */
    margin-bottom: 20px; /* Add some bottom margin */

  }
    
    .book-highlight-container {
      display: flex;
      justify-content: center; /* Centers items horizontally within the container */
      align-items: center; /* Centers items vertically */
      flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
      width: 85%; /* Set width to 85% of the parent container */
      margin: 0 auto; /* Centers the container */
      gap: 15px; /* Space between items when they wrap */
      padding: 10px; /* Padding inside the container */
    }
    .book-image-with-banner:hover {
      transform: scale(1.05); /* Slightly enlarge the card on hover */
      z-index: 10; /* Ensure it's above other elements */
    }


    .book-image img {
      width: 10%; /* Image takes up 25% of the container's width */
      max-width: 200px; /* Optional: to prevent the image from becoming too large */
      height: auto; /* Keep the aspect ratio */
      border-radius: 4px; /* Optional: for rounded corners */
    }
    

    
    .book-image-with-banner img {
      width: 170px; /* Image will fill the container width */
      display: block; /* Ensures there's no space under the image */
      z-index: 10; /* Ensure the scaled element is above others */     
      border-radius: 14px 14px 0px 0px; /* Optional: for rounded corners */
    }
    .status-banner-next {
      /* ... other properties ... */
      border-radius: 0 0 10px 10px; /* This rounds only the bottom corners */
      width: 170px
    }

    .book-details {
      flex-grow: 1; /* Take up the remaining space */
      padding-left: 20px; /* Spacing between image and details */
    }

/* Medium devices (tablets, less than 768px) */
@media (max-width: 767px) {
  .book-image-with-banner {
    max-width: calc(50% - 30px); /* Two items per row minus gap */
  }
}

/* Small devices (phones, less than 576px) */
@media (max-width: 575px) {
  .book-image-with-banner {
    max-width: 100%; /* One item per row */
    margin: 10px 0; /* Only vertical margin */
  }
}
  </style>
</head>
<body>
  <%- include('../partials/bookcardModal') %>
  <%- include('../navbar') %>

  <div class="container mt-4">

      <div class="container mt-4">
        <div class="stats-container">
          <div class="stats-item">
            <div class="stats-title">Total Books</div>
            <div class="stats-number"><%= stats.totalBooks %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Books Read</div>
            <div class="stats-number"><%= stats.readBooks %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Total Series</div>
            <div class="stats-number"><%= stats.totalSeries %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Popular Author</div>
            <div class="stats-number"><%= stats.popularAuthor ? stats.popularAuthor.name : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Popular Narrator</div>
            <div class="stats-number"><%= stats.popularNarrator ? stats.popularNarrator.name : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Last Read</div>
            <div class="stats-number"><%= stats.latestReadBook ? stats.latestReadBook.title : 'N/A' %></div>
          </div>
          <div class="stats-item">
            <div class="stats-title">Most Read Author</div>
            <div class="stats-number"><%= stats.mostReadAuthor ? stats.mostReadAuthor : 'N/A' %> (<%= stats.mostReadAuthorCount %>)</div>
          </div>

    </div>
 <!-- Alphabet Navigation -->
 <div class="alphabet-navigation">
  <% for(let i = 65; i <= 90; i++) { %>
    <a href="#<%= String.fromCharCode(i) %>"><%= String.fromCharCode(i) %></a>
  <% } %>
</div>
    </div></div>


    <center>
      <div class="book-highlight-container">
        <!-- Display all current books -->
        <% if (currentBooks && currentBooks.length > 0) { %>
            <% currentBooks.forEach(function(book) { %>
                <div class="book-image-with-banner" onclick="showBookDetails('<%= book.id %>')">
                    <img src="<%= book.coverImageUrl %>" alt="Cover of <%= book.title %>">
                    <div class="status-banner <%= book.status.name.toLowerCase() %>-status">
                        <%= book.status.name %>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No current books to display.</p>
        <% } %>
      <!-- Repeat for "Next Up" books -->
      <% if (nextUpBooks !== null) { %>
      <% nextUpBooks.forEach(function(book) { %>
        <div class="book-image-with-banner" onclick="showBookDetails('<%= book.id %>')">
          <img src="<%= book.coverImageUrl %>" alt="<%= book.title %> Cover">
          <div class="status-banner status-banner-next <%= book.status.name.toLowerCase() %>-status">
            <%= book.status.name %>
          </div>
        </div>
      <% }) %>
      <% } %>
    </div>
</center>

<!-- Books Sections -->
<div class="all-books-section">

<div class="book-filter">
  <div class="row">
    <div class="col">
      <form id="filterForm" action="/books" method="get">
        <label for="statusFilter">Filter by status:</label>
        <select id="statusFilter" name="status" onchange="document.getElementById('filterForm').submit();">
          <option value="">All</option>
          <% statuses.forEach(function(status) { %>
            <option value="<%= status.id %>" <%= (status.id.toString() === statusFilter) ? 'selected' : '' %>><%= status.name %></option>
          <% }); %>
        </select>
        
        <!-- Preserve the search query when filtering -->
        <% if(searchQuery) { %>
          <input type="hidden" name="search" value="<%= searchQuery %>">
        <% } %>
      </form>
    </div>
</div></dir>
<div class="books-container" >
  <% for(let i = 65; i <= 90; i++) { %>
    <% let filteredBooks = books.filter(book => book.title[0].toUpperCase() === String.fromCharCode(i)); %>
    <% if (filteredBooks.length > 0) { %>
      <div id="<%= String.fromCharCode(i) %>" class="book-section-anchor"></div>
    <% } %>
    <% filteredBooks.forEach(function(book) { %>
      <div class="bookrow">
        <%- include('../partials/bookCard', { book: book }) %>
      </div>
    <% }) %>
  <% } %>
</div>

  <%- include('../partials/footer') %>
  

  <script>
    const updateCollapseHeaders = () => {
      const nextUpHeader = document.querySelector('.next-up-header');
      const nextUpSection = document.getElementById('nextUpSection');


      nextUpHeader.classList.toggle('inactive-header', !nextUpSection.classList.contains('show'));

    };

    const clearSearchResults = () => {
      const searchResultsSection = document.getElementById('searchResultsSection');
      if (!searchResultsSection.classList.contains('show')) {
        window.location.href = '/books';
      }
    };

    if (document.querySelector('.search-results-header')) {
      document.querySelector('.search-results-header').addEventListener('click', () => {
        setTimeout(clearSearchResults, 350);
      });
    }

    // Toggle the "Next Up" section on header click
    document.querySelector('.next-up-header').addEventListener('click', function() {
      var nextUpSection = document.getElementById('nextUpSection');
      nextUpSection.classList.toggle('show');
    });

    // Initial state update
    updateCollapseHeaders();

      function filterBooksByStatus() {
        const statusId = document.getElementById('statusFilter').value;
        window.location.href = `/books/filter?status=${statusId}`; // This should match your existing route for filtering
      }

    
  </script>
  <a href="/books/add" class="fab" id="addBookButton">+</a>

</body>
</html>
