<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-4">
    <div class="card book-card" style="cursor: pointer" onclick="showBookDetails('<%= book.id %>')" data-book-id="<%= book.id %>">
        <div class="book-image-container">
            <img class="card-img-top book-image" src="<%= book.coverImageUrl %>" alt="Book Cover"> 
 
        </div>

                        <!-- Status banner -->
                        <% if (book.status) { %>
                            <div class="status-banner <%= book.status.name.toLowerCase() %>-status">
                                <%= book.status.name %>
                            </div>
                        <% } %>
            <h5 class="card-title book-title"><%= book.title %></h5>
            <p class="book-series">
                <% if (book.series) { %>
                    <a href="/series/<%= book.series.id %>/books"><%= book.series.title %></a>
                <% } else { %>
                    No Series
                <% } %>
            </p>
            <p class="book-author">
                By: <%= book.author ? book.author.name : 'Unknown' %>
            </p> 
 

    </div>
  </div>
  