<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header', { title: 'Book Tracker'}) %>
    <link rel="stylesheet" href="/styles/bookCard.css">
    <style>
      body {
        background-color: #f4f4f4;
      }
      .jumbotron {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px; /* Reduced padding */
      }
      .jumbotron h1 {
        font-size: 30px; /* Smaller title font size */
      }
      .jumbotron p {
        font-size: 16px; /* Smaller paragraph font size */
      }
      .section-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-top: 40px;
      }
    </style>
  </head>
  <body>
    <%- include("navbar") %>
    <%- include("partials/bookcardModal") %>

    <div class="container my-4">
      <header class="jumbotron text-center">
        <h1 class="display-4">BookTracker</h1>
        <p class="lead">Your personal library management system.</p>
      </header>

      <!-- Current Book Section -->

      <!-- Next Up Books Section -->
      <center>
      <section>
        <h2 class="section-title">Next Up</h2>
        <div class="row">
           <% if (currentBook) { %>
            <%- include("partials/bookCard", { book: currentBook }) %>
          <% } else { %>
          <p>No current book selected.</p>
          <% } %>
          <% nextUpBooks.forEach(function(book) { %>
            <%- include("partials/bookCard", { book: book }) %>
          <% }) %>
        </div>
      </section>
      </center>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
