<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header', { title: 'Book Tracker'}) %>
    <link rel="stylesheet" href="/styles/bookCard.css">
    <style>
      body {
        background-color: #f4f4f4;
      }
      .jumbotron {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .section-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-top: 40px;
      }
    </style>
  </head>
  <body>
    <%- include('navbar') %>
    <%- include('partials/bookcardModal') %>

    <div class="container my-4">
      <header class="jumbotron text-center">
        <h1 class="display-4">Welcome to BookTracker!</h1>
        <p class="lead">Your personal library management system.</p>
        <hr class="my-4" />
        <p>
          Track, organize, and discover your favorite books, authors, and
          series.
        </p>
        <a class="btn btn-primary btn-lg" href="books" role="button"
          >Explore Books</a
        >
      </header>

      <!-- Current Book Section -->
      <center>
      <section>
        <h2 class="section-title">Currently Reading</h2>
        <div class="book-grid">
          <% if (currentBook) { %>
            <%- include('partials/bookCard', { book: currentBook }) %>
          <% } else { %>
          <p>No current book selected.</p>
          <% } %>
        </div>
      </section>
    </center>
      <!-- Next Up Books Section -->
      <center>
      <section>
        <h2 class="section-title">Next Up</h2>
        <div class="row">
          <% nextUpBooks.forEach(function(book) { %>
            <%- include('partials/bookCard', { book: book }) %>          <% }) %>
        </div>
      </section>
    </Center>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
