<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>
    <%- include('../navbar') %>
    <!-- Adjust the path to your navbar partial -->

    <div class="container mt-4">
      <h2 class="mb-3">Status List</h2>
      <a href="/status/add" class="btn btn-success mb-4">Add New Status</a>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% status.forEach(function(status) { %>
          <tr>
            <td><%= status.name %></td>
            <td>
              <a
                href="/status/edit/<%= status.id %>"
                class="btn btn-sm btn-primary"
                >Edit</a
              >
              <form
                action="/status/<%= status.id %>?_method=DELETE"
                method="post"
                style="display: inline"
              >
                <button type="submit" class="btn btn-sm btn-danger">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
